---
layout: handbook-page-toc
title: "Marketo Tech Stack Guide"
description: "Reference for how Marketo is implemented."
---

{::options parse_block_html="true" /}

<link rel="stylesheet" type="text/css" href="/stylesheets/biztech.css" />

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}


## Marketo Tech Stack Guide

> **Note:** Refer to the **[Tech Stack Index](/handbook/business-technology/tech-stack/)** to browse Apps and **[Tech Stack Applications](/handbook/business-technology/tech-stack-applications/)** to manage Apps.

<% data.tech_stack.each do |stack| %>
<% if stack.title == "Marketo" %>
- **Description:** <%= stack.description %>
- **Provisioner:** <%= stack.provisioner %>
- **Deprovisioner:** <%= stack.deprovisioner %>
- **Critical Systems Tier:** <%= stack.critical_systems_tier %>
<% end %>
<% end %>

### Integrations

To see the different systems that are connected to Marketo, please visit the [Marketo System Infrastructure Mapping Mural](https://app.mural.co/t/gitlab2474/m/gitlab2474/1604947309706/7aec5684a2fa4671823c5acd352348b04562950f).


### Data Model
Marketo is a flat database that utilizes Email Address as the unique ID. The `Person` Object is the main object.
### Key Reports / Dashboards

